<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col-2">#</th>
            <th scope="col-2">房间号</th>
            <th scope="col-2">&nbsp;&nbsp;&nbsp;&nbsp;预约时间</th>
            <th scope="col-2">&nbsp;&nbsp;&nbsp;操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let room of rooms$ | async;let i = index'>
            <th scope="row">{{i}}</th>
            <td>&nbsp;&nbsp;{{room}}</td>
            <td>
                <select #mySelect (change)='onOptionsSelected(mySelect.value)'>
                    <option value="1">8:00-10:00</option>
                    <option value="2">10:00-12:00</option>
                    <option value="3">12:00-14:00</option>
                    <option value="4">14:00-16:00</option>
                    <option value="5">16:00-18:00</option>
                    <option value="6">18:00-20:00</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-outline-success" (click)="prepare(room,mySelect.value)">预约</button>
            </td>
        </tr>
    </tbody>
</table>